
server/.vscode/launch.json

client/WatsonSpeechQA.xcodeproj/project.xcworkspace/xcuserdata/andrewtrice.xcuserdatad/UserInterfaceState.xcuserstate

client/WatsonSpeechQA.xcodeproj/xcuserdata/andrewtrice.xcuserdatad/xcschemes/WatsonSpeechQA.xcscheme

client/WatsonSpeechQA.xcodeproj/xcuserdata/andrewtrice.xcuserdatad/xcschemes/xcschememanagement.plist

client/WatsonSpeechQA.xcodeproj/project.xcworkspace/xcuserdata/andrewtrice.xcuserdatad/UserInterfaceState.xcuserstate

client/WatsonSpeechQA.xcodeproj/project.xcworkspace/xcuserdata/andrewtrice.xcuserdatad/UserInterfaceState.xcuserstate

client/WatsonSpeechQA.xcodeproj/project.xcworkspace/xcuserdata/andrewtrice.xcuserdatad/UserInterfaceState.xcuserstate

client/WatsonSpeechQA.xcodeproj/project.xcworkspace/xcuserdata/andrewtrice.xcuserdatad/UserInterfaceState.xcuserstate
